<div class="basic-creation-button">
  <div class="box">
    <ion-title>Obsevables</ion-title>
    <ion-button color="success" (click)="obsevableCreate()">Create / Obsevable</ion-button>
    <ion-button color="danger" (click)="fromClick()">From</ion-button>
    <ion-button color="warning" (click)="ofClick()">Of</ion-button>
    <ion-button color="primary" (click)="intervalClick()">Interval</ion-button>
    <ion-button color="dark" (click)="timerClick()">Timer</ion-button>
    <ion-button color="tertiary" (click)="fromEventClick()">From Event</ion-button>
    <ion-button color="light" (click)="unsubscribeClick()">Unsubcribe</ion-button>
  </div>
</div>
