.operators-button {
  margin: .5rem;
}

ion-button {
  margin: 10px;
  color: white;
  font-weight: 600;
}

ion-title {
  margin: 10px;
  color: white;
}

.box {
  left: 30%;
}

.debounceArea {
  position: relative;
  overflow: hidden;
  text-align: center;
  width: 100px;
  height: 100px;
  margin: 30px;
  color: blue;
}

hr {
  background-color: white;
}

